body {
    background-color: rgb(215, 245, 229);
}

.wrapper {
    max-width: 970px;
    min-height: 700px;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    

    .cards {
        display: flex;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    
    div {
        margin-right: 10px;
        margin-top: 20px;
    }
}

.cardInfoBtn {
    background: none;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(234, 246, 234);
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgb(207, 243, 222);
    }

    a {
        text-decoration: none;
    }
}

.linkinfo {
    text-decoration: none;
}

// Cardinfo

.infoBlock_link-btn {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2cb5a0;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #7cdacc;

    &:hover {
        color: #ffffff;
        transform: scale(1.0);
        outline: 2px solid #7cdacc;
        box-shadow: 4px 5px 17px -4px #268391;
      }
      
    &::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #2cb5a0;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1000ms;
      }

      &:hover::before {
        width: 250%;
      }
  }

.cardInfo {
    width: 450px;
    margin-top: 30px;
    background-color: #2cb5a0;
    border: 4px solid #7cdacc;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h1 {
    font-size: 22px;

    }

    &_img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    &_text {
        max-width: 280px;
    }
}